<div class="similar-listings">

  <h1>Similar Listings</h1>

  <div class="horizontal-flex justify-between">
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
    <div class="listing-item vertical-flex is-3">
      <img src="assets/images/sample-product.png" alt="">
      <h3 class="price is-bold">$1,225.00</h3>
      <a class="is-primary">{{aLongStr | truncate : 54}}</a>
    </div>
  </div>

  <a class="is-pulled-right">Show More</a>
</div>
