<section id="loginSection" class="vertical-flex wrap">
  <a  class="btn-long facebook-btn horizontal-flex">
    <img src="assets/icons/facebook.svg" alt="" class="popup-icon">
    <h3>Continue With Facebook</h3>
  </a>
  <br>
  <p class="or text-centered">Or signup with email</p>
  <br>
  <div id="loginForm" class="horizontal-flex">
    <form>
      <fieldset class="material-input">
        <label for="email" class="icon"><img src="assets/icons/mail.svg" alt="" class="svg-icon"></label>
        <input type="email" id="email" placeholder="Email" class="material-input has-icon">
        <span class="bar"></span>
      </fieldset>
      <fieldset class="material-input">
        <label for="name" class="icon"><img src="assets/icons/user.svg" alt="" class="svg-icon"></label>
        <input type="text" id="name" placeholder="Name" class="material-input has-icon">
        <span class="bar"></span>
      </fieldset>
      <fieldset class="material-input">
        <label for="password" class="icon"><img src="assets/icons/lock.svg" alt="" class="svg-icon"></label>
        <input type="password" id="password" placeholder="Password" class="material-input has-icon">
        <span class="bar"></span>
      </fieldset>
    </form>
  </div>

  <a class="btn-long continue-btn horizontal-flex">
    <h3>Continue</h3>
  </a>
  <br>
  <a routerLink="/login" class="text-centered no-underline">Have account on Catchtown?<br>Login</a>
</section>
