<div class="container">
  <h2 class="text-centered is-roboto is-medium has-medium-letter-spacing"><a href="" class="is-black is-roboto">Connect</a>&nbsp;For VIP Upgrade On Your Next Listing!</h2>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="horizontal-flex items">
    <div class="item">
      <img src="assets/icons/new-customer.svg" alt="">
      <p class="has-medium-letter-spacing">New<br>Customers</p>
    </div>
    <div class="item">
      <img src="assets/icons/prominent.svg" alt="">
      <p class="has-medium-letter-spacing">Prominent Display<br>of the Listing</p>
    </div>
    <div class="item">
      <img src="assets/icons/upto.svg" alt="">
      <p class="has-medium-letter-spacing">Upto 27%<br>More Sales</p>
    </div>
  </div>

  <div class="connect-options">
    <div class="option horizontal-flex">
      <p class="horizontal-flex is-roboto is-medium has-medium-letter-spacing"><img src="assets/icons/facebook-blue.svg" class="svg" alt="">Facebook</p>
      <p class="connect is-roboto is-medium has-medium-letter-spacing">Connected<span>&rsaquo;</span></p>
    </div>
    <div class="option horizontal-flex">
      <p class="horizontal-flex is-roboto is-medium has-medium-letter-spacing"><img src="assets/icons/craigslist.png" class="svg" alt="">Craigslist</p>
      <p class="connect is-roboto is-medium has-medium-letter-spacing">Connected<span>&rsaquo;</span></p>
    </div>
    <div class="option horizontal-flex">
      <p class="horizontal-flex is-roboto is-medium has-medium-letter-spacing"><img src="assets/icons/pinterest.png" class="svg" alt="">Pinterest</p>
      <p class="connect is-roboto is-medium has-medium-letter-spacing">Connect<span>&rsaquo;</span></p>
    </div>
    <div class="option horizontal-flex">
      <p class="horizontal-flex is-roboto is-medium has-medium-letter-spacing"><img src="assets/icons/twitter.png" class="svg" alt="">Twitter</p>
      <p class="connect is-roboto is-medium has-medium-letter-spacing">Connect<span>&rsaquo;</span></p>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <a class="primary-btn continue-btn btn-long-extra no-underline">Continue</a>
</div>
