<div class="horizontal-flex justify-between wrap align-start is-fixed" id="sidebar">
    <app-details-image-and-map></app-details-image-and-map>
</div>

<div class="horizontal-flex justify-between wrap align-start">
  <div class="is-4"></div>
  <div class="is-7">
    <app-details-header></app-details-header>
    <hr class="light">
    <app-details-faq></app-details-faq>
    <hr class="light">
    <app-details-reviews></app-details-reviews>
    <hr class="light">
    <app-similar-listings></app-similar-listings>
    <hr class="light">
  </div>
</div>
