.wrap {
  padding-bottom: 60px;
  padding-top: 60px;
}

.large-margin {
  margin-top: 0.5em;
}

.is-4, .is-8 {
  box-sizing: border-box;
}

.is-4 {
  padding-right: 20px;
}

.is-8 {
  padding-left: 20px;
}
