<div id="resetPassword" class="vertical-flex" *ngIf="!emailSent">
  <form>
    <fieldset class="material-input">
      <label for="email" class="icon"><img src="assets/icons/mail.svg" alt="" class="svg-icon"></label>
      <input type="email" id="email" placeholder="Email" class="material-input has-icon">
      <span class="bar"></span>
    </fieldset>
  </form>
  <a class="btn-long continue-btn horizontal-flex" (click)="emailSent = true;">
    <h3>Continue</h3>
  </a>
  <br>
  <a href="/login" class="no-underline">cancel</a>
  <br>
</div>

<div class="vertical-flex" id="emailSent" *ngIf="emailSent">
  <img src="assets/icons/check.svg" alt="" class="svg-icon">
  <br>
  <p class="is-4 text-centered">
    We've sent an email to reset your password. If you do not see it in your Inbox, check your Spam or Junk folder.
  </p>
  <br>
  <br>
  <br>
  <a class="no-underline" (click)="emailSent = false">back</a>
  <br>
  <br>
</div>
