.title {
  font-size: 25px;
  letter-spacing: 0.02em;

  .small {
    font-size: 18px;
    color: #c9c9c9;
    margin-left: 24px;
    letter-spacing: 0.012em;
  }
}

.faq {
  padding-bottom: 30px;
}

.qa-set {
  margin: 28px 0;

  .question {

    &:before {
      content: 'Q:';
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
    }
  }

  .answer {
    &:before {
      content: 'A:';
      font-weight: 500;
      font-family: 'Roboto', sans-serif;
    }
  }

  .question, .answer {
    margin: 8px 0;

    &:before {
      margin-right: 12px;
    }
  }

}
