<h1 class="title">FAQ<span class="small">35 Questions</span></h1>
<div class="faq">
  <div class="qa-set">
    <p class="question">How can I fix this mac?</p>
    <p class="answer">This is not a problem, you can buy all the parts on Ebay etc</p>
  </div>
  <div class="qa-set">
    <p class="question">Can I return the laptop if it does not come out to fix it?</p>
    <p class="answer">No, you can’t. I cannot be sure what manipulation you will do.</p>
  </div>
  <div class="qa-set">
    <p class="question">What difference between 2015 and 2017 mac?</p>
    <p class="answer">It has a lot. You should visit apple.com</p>
  </div>
  <a class="is-pulled-right">Show More</a>
</div>
