<h1 class="title">Macbook Pro 15" (Mid 2015) i7 2.5 GHz, 16 GB Ram, 512 SSD - For Parts Or Repair</h1>
<div class="distance-and-actions">
  <div class="horizontal-flex justify-between">
    <div class="distance">
      <ul class="no-style inline">
        <li class="is-primary">Santa Monica, CA</li>
        <li><img src="assets/icons/location.svg" alt="">10 mil.</li>
        <li><img src="assets/icons/car.svg" alt="">15 min.</li>
      </ul>
    </div>
    <div class="actions">
      <ul class="no-style inline">
        <li><img src="assets/icons/star_blue.svg" alt="">&nbsp;Save</li>
        <li><img src="assets/icons/thumbs-down.svg" alt="">&nbsp;Report</li>
        <li><img src="assets/icons/share.svg" alt="">&nbsp;Share</li>
      </ul>
    </div>
  </div>
</div>
<p class="description">
  This computer appears to have come in contact with water at some point. I cannot guarantee the full functionality of this computer. It powers on as shown in the pictures. It is also covered under the AppleCare warranty through June 16, 2019, though I don't believe Apple will warranty it if it has come in contact with water. It has minor impressions on the top and bottom and minor marks on the screen. It is being sold as is-for parts or repair. See pictures for condition details.
</p>
