<div class="container">
  <h2><a href="#">Connect</a>&nbsp;For VIP Upgrade On Your Next Listing!</h2>

  <div class="horizontal-flex items">
    <div class="item">
      <img src="assets/icons/new-customer.svg" alt="">
      <p>New<br>Customers</p>
    </div>
    <div class="item">
      <img src="assets/icons/prominent.svg" alt="">
      <p>Prominent Display<br>of the Listing</p>
    </div>
    <div class="item">
      <img src="assets/icons/upto.svg" alt="">
      <p>Upto 27%<br>More Sales</p>
    </div>
  </div>

  <div class="connect-options">
    <div class="option horizontal-flex">
      <p class="horizontal-flex"><img src="assets/icons/facebook-blue.svg" alt=""> &nbsp;Facebook</p>
      <p class="connect">Connected<span>&rsaquo;</span></p>
    </div>
    <div class="option horizontal-flex">
      <p class="horizontal-flex"><img src="assets/icons/facebook-blue.svg" alt=""> &nbsp;Craigslist</p>
      <p class="connect">Connected<span>&rsaquo;</span></p>
    </div>
    <div class="option horizontal-flex">
      <p class="horizontal-flex"><img src="assets/icons/facebook-blue.svg" alt=""> &nbsp;Pinterest</p>
      <p class="connect">Connect<span>&rsaquo;</span></p>
    </div>
    <div class="option horizontal-flex">
      <p class="horizontal-flex"><img src="assets/icons/facebook-blue.svg" alt=""> &nbsp;Twitter</p>
      <p class="connect">Connect<span>&rsaquo;</span></p>
    </div>
  </div>
  <br>
  <br>
  <a href="#" class="primary-btn continue-btn btn-long-extra no-underline">List it</a>
</div>
