<div class="horizontal-flex wrap" id="navbar" *ngIf="showHeader()">
  <div class="sidenav-open show-mobile">
    <a class="no-underline" (click)="isSidenavActive = true"><i class="material-icons">menu</i></a>
  </div>
  <div class="vertical-flex header-title">
    <a routerLink="/" class="no-underline vertical-flex">
      <div class="horizontal-flex justify-between">
        <h1 class="is-montserrat is-bold">Catchtown <span class="hide-mobile">- Chicago</span></h1>
      </div>
      <h4 class="is-montserrat is-medium">Catch the Best Deals in Town</h4>
    </a>
  </div>
  <div class="horizontal-flex reverse hide-mobile">
    <a [routerLink]="['/auth', 'signup']" class="nav-link signup no-underline">SignUp</a>
    <a [routerLink]="['/auth', 'login']" class="nav-link login no-underline">Login</a>
  </div>
</div>

<div class="sidenav-panel" [class.active]="isSidenavActive">
  <div class="horizontal-flex">
    <a [routerLink]="['/auth', 'login']" class="nav-link login no-underline is-medium" (click)="isSidenavActive = false">Login</a>
    <a [routerLink]="['/auth', 'signup']" class="nav-link signup no-underline is-medium" (click)="isSidenavActive = false">SignUp</a>
    <a routerLink="" class="no-underline close-sidenav nav-link" (click)="isSidenavActive = false"><i class="material-icons">menu</i></a>
  </div>
  <br>
  <div class="vertical-flex">
    <div class="sidenav-link">
      <a routerLink="" class="no-underline">Import Listing</a>
    </div>
    <div class="sidenav-link">
      <a routerLink="" class="no-underline">Messages</a>
    </div>
    <div class="sidenav-link">
      <a routerLink="" class="no-underline">FAQ</a>
    </div>
  </div>
</div>

<div class="panel-cover" *ngIf="isSidenavActive"></div>
