img {
  max-height: 24px;

  &.avatar {
    max-height: 70px;
    max-width: 100%;
    margin-right: 0;
  }

  &.avatar-big {
    max-height: 100px;
    max-width: 100%;
    margin-right: 24px;
  }
}

h1.title {
  margin: 2px 0;
  font-size: 25px;
}

div.rating {
  margin-bottom: 0;
  margin-left: 14px;
}

ul {
  padding-left: 0;
  margin-top: 2px;

  li:not(:last-of-type) > div.horizontal-flex {
    border-bottom: 1px solid rgba(216, 216, 216, 0.4);
    margin-bottom: 30px;
  }
}

.stretch {
  height: 100%;
}

.flaked {
  color: #c9c9c9;
  margin-top: 8px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.user-name {
  font-size: 19px;
}

.user-review {

  padding-bottom: 12px;

  p {
    margin: 8px 0;
  }
}

.user-reviews {
  padding-bottom: 30px;
}

.user-rating {
  margin-left: 10px;
}
