<div class="vertical-flex">
  <h1 class="text-centered is-roboto is-medium has-medium-letter-spacing">Add Cover Photo</h1>
  <hr class="lighter">
  <div class="spacer"></div>
  <dropzone [config]="dzConfig" [message]="'Add Photo'" (success)="nextStep()"></dropzone>
  <div class="spacer"></div>
  <a href="#" class="no-underline text-centered">or Browse Folders</a>

  <div class="horizontal-flex step-button-container is-3">
    <div class="column">
      <button class="btn primary-btn" (click)="nextStep()">Continue</button>
    </div>
  </div>
</div>
