<h1 class="text-centered is-roboto is-medium has-medium-letter-spacing">Set Details</h1>
<hr class="lighter">
<div class="photos">
  <h2 class="subtitle">Photos</h2>
  <div class="add-photos horizontal-flex" style="flex-wrap: wrap!important;">
    <div class="add-photo" *ngFor="let image of images; let i = index">
      <div class="vertical-flex">
        <img alt="" *ngIf="image" [src]="image">
        <dropzone [config]="dzConfig" [message]="'Add Photo'" *ngIf="!image"></dropzone>
        <p class="cover-text" *ngIf="i === 0">Cover Photo</p>
        <p class="cover-text" *ngIf="i !== 0"> </p>
      </div>
    </div>
  </div>
</div>

<div class="details">
  <form #detailsForm="ngForm">
    <div class="fieldset horizontal-flex">
      <label for="title"></label>
      <input type="text" id="title" name="title" placeholder="What are you selling? (required)" required ngModel>
    </div>
    <div class="fieldset horizontal-flex">
      <label for="title"></label>
      <input type="text" id="description" name="description" placeholder="Describe it (required)" required ngModel>
    </div>
    <div class="fieldset labelled horizontal-flex">
      <label for="category" style="border-right: 1px solid rgba(0,0,0,0.12);">Category</label>
      <div class="select">
        <select name="category" id="category" ngModel>
          <option value="select" selected disabled>Required</option>
        </select>
      </div>
    </div>
    <div class="fieldset labelled horizontal-flex">
      <label for="price">Price</label>
      <input type="number" id="price" name="price" required placeholder="Required" ngModel>
    </div>
    <div class="fieldset labelled horizontal-flex">
      <label for="location">Location</label>
      <input type="text" id="location" name="location" required placeholder="Required" ngModel>
    </div>
    <div class="fieldset labelled horizontal-flex" style="padding-top: 10px;">
      <label>Make Offer</label>
      <div class="wrapper">
        <input type="checkbox" name="offer" id="toggle" ngModel>
        <label for="toggle"></label>
      </div>
    </div>
    <div class="fieldset no-border labelled horizontal-flex">
      <label for="lowest">Lowest Price</label>
      <input type="number" class="no-border" name="lowestPrice" id="lowest" required placeholder="Required" ngModel>
    </div>
    <br>
    <br>
    <div class="horizontal-flex set-details-action" style="justify-content: space-between; width: 400px; max-width: 100%;">
      <a class="no-underline" (click)="previousStep()">Back To Filters</a>
      <a (click)="nextStep()" class="continue-btn primary-btn no-underline">Continue</a>
    </div>
  </form>
</div>
