<h1 class="text-centered is-roboto is-medium has-medium-letter-spacing">Set Details</h1>
<hr class="lighter">
<div class="photos">
  <h2 class="subtitle">Photos</h2>
  <div class="add-photos horizontal-flex" style="flex-wrap: wrap!important;">
    <div class="add-photo" *ngFor="let image of images; let i = index">
      <div class="vertical-flex">
        <img alt="" *ngIf="image" [src]="image">
        <dropzone [config]="dzConfig" [message]="'Add Photo'" *ngIf="!image"></dropzone>
      </div>
    </div>
  </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div class="details">
  <form #detailsForm="ngForm">
    <div class="fieldset horizontal-flex">
      <label for="title"></label>
      <textarea type="text" id="title" name="title" placeholder="What are you selling? (required)" required ngModel></textarea>
    </div>
    <div class="fieldset horizontal-flex">
      <label for="title"></label>
      <textarea type="text" id="description" name="description" placeholder="Describe it (optional)" ngModel></textarea>
    </div>
    <div class="fieldset labelled horizontal-flex">
      <label for="category" style="border-right: 1px solid rgba(0,0,0,0.12);" class="is-roboto is-bold">Category</label>
      <div class="select">
        <select name="category" id="category" ngModel>
          <option value="select" selected disabled>Required</option>
        </select>
      </div>
    </div>
    <div class="fieldset labelled horizontal-flex">
      <label for="price" class="is-roboto is-bold">Price</label>
      <input type="number" id="price" name="price" required placeholder="Required" ngModel>
    </div>
    <div class="fieldset labelled horizontal-flex">
      <label for="location" class="is-roboto is-bold">Location</label>
      <input type="text" id="location" name="location" required placeholder="Required" ngModel>
    </div>
    <div class="fieldset labelled horizontal-flex" style="padding-top: 10px;">
      <label class="is-roboto is-bold">Make Offer</label>
      <div class="wrapper">
        <input type="checkbox" name="offer" id="toggle" ngModel>
        <label for="toggle"></label>
      </div>
    </div>
    <div class="fieldset bottom-border labelled horizontal-flex">
      <label for="lowest" class="is-roboto is-bold">Lowest Price</label>
      <input type="number" class="no-border" name="lowestPrice" id="lowest" required placeholder="Required" ngModel>
    </div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="horizontal-flex set-details-action" style="justify-content: space-between; width: 50%;">
      <a class="no-underline" (click)="previousStep()">Back To Filters</a>
      <a (click)="nextStep()" class="continue-btn is-thin primary-btn no-underline">Continue</a>
    </div>
  </form>
</div>
