#loginSection {
  padding-top: 100px;
  padding-bottom: 100px;
}

.facebook-btn {
  background-color: #4468b2;
}

#loginForm {
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;

    fieldset, input {
      width: 100%;
    }
  }
}

h3 {
  font-size: 20px;
}

.btn-long {
  h2 {
    color: #fff;
  }
}

.has-icon {
  padding-left: 60px;
}

.icon img {
  width: 32px;
  height: 32px;
}

@media (max-width: 600px) {
  #loginForm {
    form {
      width: 100%;
    }
  }

  .facebook-btn h2 {
    font-size: 20px;
  }
}
