<section id="loginSection" class="vertical-flex wrap">
  <a  class="btn-long facebook-btn horizontal-flex justify-evenly">
    <img src="assets/icons/facebook.svg" alt="" class="popup-icon">
    <h2 class="has-medium-letter-spacing is-regular">Continue With Facebook</h2>
  </a>
  <br>
  <h3 class="or text-centered is-regular has-medium-letter-spacing">Or signup with email</h3>
  <br>
  <div id="loginForm" class="horizontal-flex">
    <form>
      <fieldset class="material-input">
        <label for="email" class="icon"><img src="assets/icons/mail.svg" alt="" class="svg-icon"></label>
        <input type="email" id="email" placeholder="Email" class="material-input has-icon">
        <span class="bar"></span>
      </fieldset>
      <fieldset class="material-input">
        <label for="name" class="icon"><img src="assets/icons/user.svg" alt="" class="svg-icon"></label>
        <input type="text" id="name" placeholder="Name" class="material-input has-icon">
        <span class="bar"></span>
      </fieldset>
      <fieldset class="material-input">
        <label for="password" class="icon"><img src="assets/icons/lock.svg" alt="" class="svg-icon"></label>
        <input type="password" id="password" placeholder="Password" class="material-input has-icon">
        <span class="bar"></span>
      </fieldset>
    </form>
  </div>

  <a class="btn-long continue-btn horizontal-flex">
    <h2 class="has-medium-letter-spacing is-regular">Continue</h2>
  </a>
  <br>
  <a [routerLink]="['/auth', 'login']" class="text-centered no-underline has-medium-letter-spacing" style="font-size: 20px">Have account on Catchtown?<br>Login</a>
</section>
