.vertical-flex {
  align-items: center;
  padding-top: 100px;
}

.svg-icon {
  width: 30px;
  height: 30px;
}

h3 {
  padding: 0 14px;
  font-size: 20px;
}

.btn-long h2 {
  color: #fff;
}

.has-icon {
  padding-left: 60px;
}

.icon img {
  width: 32px;
  height: 32px;
}
