<section class="cta vertical-flex wrap">
  <div *ngIf="!importError" class="text-centered">
    <h1 class="is-roboto">Sell Smart Locally.</h1>
    <h1>Copy Your Craigslist Listing to Catchtown</h1>
    <br>
    <br>
  </div>
  <app-import-error *ngIf="importError && !inProgress"></app-import-error>
  <div class="horizontal-flex" *ngIf="!inProgress">
    <fieldset class="text-centered">
      <label for="copyListing" class="icon"><img [src]="importIcon()" alt="" class="svg-icon"></label>
      <input type="text" class="has-icon" id="copyListing" name="copy-listing" placeholder="Paste your Craigslist Link" [class.is-error]="importError">
    </fieldset>
    <button class="primary-btn" (click)="importListing()">Continue</button>
  </div>
  <app-import-progress *ngIf="inProgress && !importError" [value]="progressValue"></app-import-progress>
  <br>
  <a routerLink="/listings/post" class="no-underline">Post listing manually</a>

</section>
<section class="top-listings">
  <app-top-listings></app-top-listings>
</section>
<section class="additional-info wrap">
  <div class="horizontal-flex justify-between">
    <div class="horizontal-flex">
      <div class="info-image">
        <img src="assets/images/trust.png" alt="">
      </div>
      <div class="info-text">
        <h2 class="is-roboto">Trust</h2>
        <p class="is-muted-dark">Start building trust with potential buyers through our unique feedback system</p>
      </div>
    </div>
    <div class="horizontal-flex">
      <div class="info-image">
        <img src="assets/images/safe.png" alt="">
      </div>
      <div class="info-text">
        <h2 class="is-roboto">Safe</h2>
        <p class="is-muted-dark">Review verifications and feedback of potential buyers before in</p>
      </div>
    </div>
    <div class="horizontal-flex">
      <div class="info-image">
        <img src="assets/images/efficient.png" alt="">
      </div>
      <div class="info-text">
        <h2 class="is-roboto">Efficient</h2>
        <p class="is-muted-dark">Avoid low-ballers using the auto-reject feature</p>
      </div>
    </div>
  </div>
</section>
