.cta {
  background-color: #007EBC;

  .wrap {
    align-items: center;
    padding: 5vmin 0 10vmin 0;
  }

  h1, h2, p, a {
    color: #fff;
  }

  h1, h2 {
    margin: 14px 0;
    font-size: 29px;
  }

  label.icon {
    color: #000;
  }
}

a {
  position: relative;

  &:after {
    content: '';

    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;

    border-width: 0 0 1px;
    border-style: solid;
  }
}



.additional-info {
  padding: 10px 8vmax;

  & > .horizontal-flex {
    justify-content: space-between;

    .horizontal-flex {
      justify-content: center;
      flex: 0 0 350px;
      margin: 20px auto;
      flex-wrap: nowrap;
    }

  }

  h2 {
    color: #007EBC;
  }

  .info-image {

    border-radius: 50%;
    background-color: #d1d1d1;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100px;
    margin: 0 20px 0 0;

    img {
      max-height: 60%;
      max-width: 60%;
    }
  }

  .info-text {
    h2, p {
      margin: 8px 0;
    }

    p {
      letter-spacing: 0.05em;
    }
  }
}

@media (max-width: 600px) {
  *:not(input) {
    text-align: center;
  }

  .additional-info > .horizontal-flex .vertical-flex {
    flex: 0 0 80%;
  }
}

@media (min-width: 601px) {
  .cta #copyListing {
    width: 30vw;
  }
}

app-import-progress {
  width: 60%;
}

@media (max-width: 1280px) {
  .additional-info {
    & > .horizontal-flex {
      .horizontal-flex {
        justify-content: flex-start;
        flex: 0 0 100%;
      }
    }
  }
}
