<section class="cta vertical-flex wrap">
  <h1>Sell Smart Locally.</h1>
  <h3>Copy Your Craigslist Listing to Catchtown</h3>
  <br>
  <div class="horizontal-flex">
    <fieldset class="text-centered">
      <label for="copyListing" class="icon"><img src="assets/icons/link.svg" alt="" class="svg-icon"></label>
      <input type="text" class="has-icon" id="copyListing" name="copy-listing" placeholder="Paste your Craigslist Link">
    </fieldset>
    <button class="primary-btn" (click)="importListing()">Continue</button>
  </div>
  <br>
  <a routerLink="/listings/post">Post Listing Manually</a>
</section>
<section class="top-listings">
  <app-top-listings></app-top-listings>
</section>
<section class="additional-info wrap">
  <div class="horizontal-flex">
    <div class="vertical-flex">
      <div class="info-image">
        <img src="assets/images/trust.png" alt="">
      </div>
      <div class="info-text">
        <h2>Trust</h2>
        <p>Start building trust with potential buyers through our unique feedback system</p>
      </div>
    </div>
    <div class="vertical-flex">
      <div class="info-image">
        <img src="assets/images/safe.png" alt="">
      </div>
      <div class="info-text">
        <h2>Safe</h2>
        <p>Review verifications and feedback of potential buyers before in</p>
      </div>
    </div>
    <div class="vertical-flex">
      <div class="info-image">
        <img src="assets/images/efficient.png" alt="">
      </div>
      <div class="info-text">
        <h2>Efficient</h2>
        <p>Avoid low-ballers using the auto-reject feature</p>
      </div>
    </div>
  </div>
</section>
