@media (max-width: 600px) {
  .wrap {
    padding: 0 !important;
  }

  app-set-details, app-cover-photo, app-apply-filter, app-post-listing {
    max-width: 100vw;
  }

  .progress-container {
    padding: 0 12px;
  }
}
