<div class="wrap">
  <br>
  <br>
  <div class="progress-container">
    <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
  </div>
  <br>
  <br>
  <mat-horizontal-stepper #stepper>
    <mat-step label="Add Cover Photo">
      <app-cover-photo (stepProgress)="nextStep($event)" [stepper]="stepper"></app-cover-photo>
    </mat-step>
    <mat-step label="Apply Filter to Cover Photo">
      <app-apply-filter (stepProgress)="nextStep($event)" [stepper]="stepper"></app-apply-filter>
    </mat-step>
    <mat-step label="Set Details">
      <app-set-details (stepProgress)="nextStep($event)" [stepper]="stepper"></app-set-details>
    </mat-step>
    <mat-step label="Connect">
      <app-list-post (stepProgress)="nextStep($event)" [stepper]="stepper"></app-list-post>
    </mat-step>
  </mat-horizontal-stepper>
  <br>
  <br>
</div>
