<div class="vertical-flex">
  <div class="img-container z-depth-1">
    <img src="assets/images/sample-product.png" alt="">
    <p class="price">$1,299.99</p>
  </div>
  <br>
  <div class="horizontal-flex actions justify-between">
    <button class="primary-btn">Messages</button>
    <button class="primary-btn blue-button">Schedule Appointment</button>
  </div>
  <div class="vertical-flex map z-depth-1-half">
    <agm-map [latitude]="34.0195" [longitude]="118.4912"></agm-map>
    <br>
    <div class="map-detail">
      <h1>Santa Monica, CA, USA</h1>
      <p><a class="no-underline">15 minutes by car</a> (10 miles from you)</p>
    </div>
  </div>
</div>
