.img-container {

  border-radius: 5px;

  img {
    max-width: 100% !important;
  }
}

button {
  font-size: 17px;
  margin: 10px 0;

  &.primary-btn {
    width: 48%;
  }
}

.price {
  padding: 0 20px;
  margin: 16px 0;
  font-size: 34px;
}

agm-map {
  height: 200px;
  border-radius: 5px;
}

.map {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;

  .map-detail {
    padding: 0 15px 15px 15px;

    h1, p {
      margin: 4px 0;
    }
  }
}
