<div class="wrap wrap-little vertical-flex">
  <h2 class="text-centered">Apply Filter To Cover Photo</h2>
  <hr class="lighter">
  <br>
  <div class="horizontal-flex justify-custom">
    <div class="img-container">
      <img src="assets/images/sample-product.png" alt="">
    </div>
    <div class="options-container vertical-flex">
      <div class="filters-container vertical-flex">
        <div class="filters horizontal-flex">
          <div class="filter-item vertical-flex highlighted">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
        </div>
        <div class="filters horizontal-flex">
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
        </div>
        <div class="filters horizontal-flex justify-start">
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
        </div>
      </div>
      <a (click)="nextStep()" class="btn-long continue-btn no-underline">Continue</a>
    </div>
  </div>
  <div class="horizontal-flex step-button-container is-6">
    <div class="column">
      <button class="btn primary-btn" (click)="previousStep()">Back</button>
    </div>
  </div>
</div>
