<div class="wrap wrap-little">
  <div class="horizontal-flex" style="justify-content: space-between">
    <div class="img-container">
      <img src="assets/images/sample-product.png" alt="">
    </div>
    <div class="options-container vertical-flex">
      <div class="filters-container vertical-flex">
        <div class="filters horizontal-flex">
          <div class="filter-item vertical-flex highlighted">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
        </div>
        <div class="filters horizontal-flex">
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
        </div>
        <div class="filters horizontal-flex justify-start">
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
          <div class="filter-item vertical-flex">
            <img src="assets/images/sample-product.png" alt="">
            <p>Filter Title</p>
          </div>
        </div>
      </div>
      <a href="#" class="btn-long continue-btn no-underline">Continue</a>
    </div>
  </div>
</div>
