/* Mobile Displays */

@media (max-width: 600px) {

  .wrap {
    padding: 0 4vw;

    &.wrap-tight {
      padding: 0 6vw;
    }

    &.wrap-little {
      padding: 0 1vw;
    }
  }

  dropzone.dz-wrapper {
    width: 100%;
  }

  .hide-mobile {
    display: none !important;
  }

  .show-mobile {
    display: block !important;
  }

  .flex-reverse-mobile {
    flex-direction: row-reverse;
  }

  .horizontal-flex {
    justify-content: center !important;

    &.flex-reverse-mobile {
      flex-direction: row-reverse;
    }
  }

  .vertical-flex {
    align-items: center !important;

    &.flex-reverse-mobile {
      flex-direction: column-reverse;
    }
  }

  .btn-long {

    flex-wrap: nowrap;

    h3 {
      font-size: 0.8em;
    }
  }

  /* Stepper */

  .mat-vertical-content-container {
    margin-right: 36px;
  }
}
