@import '../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@import "~angular-star-rating/assets/scss/star-rating";
@import "_media";

/* General styles */

body, html {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

app-footer {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
}

a:not([href]):hover {
  cursor: pointer;
}

.import-wrap {
  padding: 0 22vw;
}

.wrap {
  padding: 0 10vw;

  &.wrap-tight {
    padding: 0 20vw;
  }

  &.wrap-little {
    padding: 0 6vw;
  }
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.btn-long {
    flex-wrap: nowrap;
  }
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.align-between {
  align-items: stretch;
}

.text-centered {
  text-align: center;
  margin: auto;
}

p, a, input, input::placeholder, h1, h2, h3, h4, h5, h6 {
  font-size: 17px;
  font-family: 'Lato', sans-serif !important;
  font-weight: 400;

  &.is-bold {
    font-weight: bold;
  }

  &.is-primary {
    color: #2980b9;
  }
}

p {
  font-size: 17px !important;
}

h1 {
  font-size: 30px;
}

h2, .mat-step-text-label {
  font-size: 25px;
}

.mat-step-text-label {
  display: none;
}

.mat-step-header .mat-step-icon {
  background-color: #1879b9;
}

.mat-stepper-horizontal-line {
  display: none;
}

mat-step-header {
  display: none !important;
}

.mat-horizontal-stepper-content {
  display: flex !important;
  justify-content: center !important;

  & > * {
    flex: 1 1;
  }
}

.step-button-container {
  margin: 20px auto;
}

mat-progress-bar {
  height: 15px !important;

  &.is-green {
    .mat-progress-bar-fill,
    .mat-progress-bar-fill:after {
      background-color: #3ad671 !important;
    }

    .mat-progress-bar-buffer {
      background: none !important;
    }
  }
}

.mat-progress-bar-fill,
.mat-progress-bar-fill:after {
  background-color: #1879b9 !important;
}



h5 {
  font-size: 15px;
}

.is-roboto {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 500;
}

.is-monsterrat {
  font-family: 'Monsterrat', sans-serif !important;
}

.is-bold {
  font-weight: bold;
}

.is-primary {
  color: #2980b9;
}

.is-muted {
  color: #BBBBBB;
}

a {
  color: #2980b9;
}

a.no-underline {
  text-decoration: none;
}

.no-border {
  border: none !important;
}

ul.no-style {
  list-style: none;

  li {
    display: inline;

    &.horizontal-flex {
      display: inline-flex;
    }
  }
}

.is-pulled-right {
  float: right;
}

.is-fixed {
  position: fixed;
}

hr {
  margin: 1em 0;

  &.light {
    border-color: #d8d8d8;
  }

  &.lighter {
    border-color: rgba(216, 216, 216, 0.4);
  }
}

/* Inputs and other form elements */

fieldset {
  border: none;
  position: relative;
  padding-top: 10px;

  &.material-input {
    .bar  { position:relative; display:block; width:300px; }
    .bar:before, .bar:after   {
      content:'';
      height:2px;
      width:0;
      bottom:1px;
      position:absolute;
      background:#47d97a;
      transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }
  }
}

.continue-btn {
  background-color: #3ad671;
}

input {
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 0 20px;
  color: #007EBC;

  &.material-input {
    border-radius: 0;
    margin: 5px 0;
    border-bottom: 2px solid #e9e9e9;

    &:focus  {

      border-bottom: none;

      & ~ .bar:before, & ~ .bar:after {
        width:50%;
      }
    }

  }

  &:focus {
    outline: none;
  }

  &.is-error {
    &::placeholder {
      color: #f85858;
    }
  }
}

input.has-icon {
  padding-left: 40px;
}

input::placeholder {
  color: #b0b0b0;
}

label.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20px;
  display: flex;
  align-items: center;
}

/* Dropzone */

div.dropzone {

  height: 50vh;

  .dz-message {
    height: 90%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: none !important;
    border-radius: 5px;
  }
}

div.add-photo div.dropzone {
  width: 64px;
  height: 64px;

  .dz-message {
    max-width: 100px !important;
    width: 64px !important;
  }
}

.dz-message {
  margin: 0 !important;
  height: 100% !important;
  box-sizing: border-box;
}


/* Z-Depths Based On Material Guidelines */

.z-depth-blue-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(24, 121, 185, 0.14), 0 1px 5px 0 rgba(24, 121, 185, 0.12), 0 3px 1px -2px rgba(24, 121, 185, 0.2);
  box-shadow: 0 2px 2px 0 rgba(24, 121, 185, 0.14), 0 1px 5px 0 rgba(24, 121, 185, 0.12), 0 3px 1px -2px rgba(24, 121, 185, 0.2);
}

.z-depth-blue-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(24, 121, 185, 0.14), 0 1px 7px 0 rgba(24, 121, 185, 0.12), 0 3px 1px -1px rgba(24, 121, 185, 0.2);
  box-shadow: 0 3px 3px 0 rgba(24, 121, 185, 0.14), 0 1px 7px 0 rgba(24, 121, 185, 0.12), 0 3px 1px -1px rgba(24, 121, 185, 0.2);
}

.z-depth-blue-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(24, 121, 185, 0.14), 0 1px 10px 0 rgba(24, 121, 185, 0.12), 0 2px 4px -1px rgba(24, 121, 185, 0.3);
  box-shadow: 0 4px 5px 0 rgba(24, 121, 185, 0.14), 0 1px 10px 0 rgba(24, 121, 185, 0.12), 0 2px 4px -1px rgba(24, 121, 185, 0.3);
}

.z-depth-blue-3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(24, 121, 185, 0.14), 0 1px 18px 0 rgba(24, 121, 185, 0.12), 0 3px 5px -1px rgba(24, 121, 185, 0.3);
  box-shadow: 0 6px 10px 0 rgba(24, 121, 185, 0.14), 0 1px 18px 0 rgba(24, 121, 185, 0.12), 0 3px 5px -1px rgba(24, 121, 185, 0.3);
}

.z-depth-blue-4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(24, 121, 185, 0.14), 0 3px 14px 2px rgba(24, 121, 185, 0.12), 0 5px 5px -3px rgba(24, 121, 185, 0.3);
  box-shadow: 0 8px 10px 1px rgba(24, 121, 185, 0.14), 0 3px 14px 2px rgba(24, 121, 185, 0.12), 0 5px 5px -3px rgba(24, 121, 185, 0.3);
}

.z-depth-blue-5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(24, 121, 185, 0.14), 0 6px 30px 5px rgba(24, 121, 185, 0.12), 0 8px 10px -5px rgba(24, 121, 185, 0.3);
  box-shadow: 0 16px 24px 2px rgba(24, 121, 185, 0.14), 0 6px 30px 5px rgba(24, 121, 185, 0.12), 0 8px 10px -5px rgba(24, 121, 185, 0.3);
}

.z-depth-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.z-depth-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.z-depth-4, .modal {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.z-depth-5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

/* Helper Classes */

.justify-start {
  justify-content: flex-start;
}

@media (min-width: 786px) {
  .is-3 {
    width: 22%;
  }

  .is-4 {
    width: 33.333333%;
  }

  .is-5 {
    width: 41.666666%;
  }

  .is-6 {
    width: 50%;
  }

  .is-7 {
    width: 58.333333%;
  }

  .is-8 {
    width: 66.666666%;
  }

  .is-10 {
    width: 83.333333%;
  }

  .is-12 {
    width: 100%;
  }
}

/* Buttons */
.primary-btn {
  font-size: 21px;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ad671;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.blue-button {
  background-color: #2980b9;
}

.btn-long {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.04);
  font-size: 20px;
  text-align: center;
  padding: 14px 40px;
  margin: 10px auto;
  justify-content: center;
  color: #ffffff;
  max-width: 70%;

  h3 {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin: 0 20px;
  }

  .popup-icon {
    width: 24px;
    height: 24px;
  }
}

/* Stepper */
.mat-vertical-content {
  padding: 0 !important;
}
