.container {
  width: 500px;
  max-width: 100vw;
  text-align: center;
  margin: 0 auto;
}

.primary-btn {
  color: #fff !important;
  margin: 0 10px;
}

.btn-long-extra {
  width: 100%;
}

@media (max-width: 600px) {
  .container {
    padding: 0 10px !important;
  }

  .btn-long-extra {
    width: 80%;
    margin: 0 auto;
  }
}

p {
  color: #5a5a5a;
}
