<div class="vertical-flex">
  <div class="horizontal-flex is-4">
    <img src="assets/icons/check.svg" alt="">
    <h2 class="is-medium is-roboto hooray has-medium-letter-spacing">Hooray!</h2>
  </div>
  <div class="spacer"></div>
  <h2 class="is-regular has-medium-letter-spacing">You have successfully listed!</h2>
  <h2 class="is-bold has-medium-letter-spacing">HP Laptop 23903 model</h2>
  <div class="spacer"></div>
  <a class="btn-long primary-btn no-underline has-medium-letter-spacing" [routerLink]="['/listings', 'post']">List Another</a>
  <a class="btn-long blue-button no-underline has-medium-letter-spacing" [routerLink]="['/listings', 'post', 'connect']">Spread the Word</a>
  <div class="spacer"></div>
  <a class="no-underline has-medium-letter-spacing">Browse Deals near me</a>
</div>
