<div class="vertical-flex">
  <div class="horizontal-flex is-4">
    <img src="assets/icons/check.svg" alt="">
    <h2 class="is-bold hooray">Hooray!</h2>
  </div>
  <br>
  <h2>You have successfully listed!</h2>
  <h2 class="is-bold">HP Laptop 23903 model</h2>
  <br>
  <a class="btn-long primary-btn no-underline" [routerLink]="['/listings', 'post']">List Another</a>
  <a class="btn-long blue-button no-underline" [routerLink]="['/listings', 'post', 'connect']">Spread the Word</a>
  <br>
  <a class="no-underline">Browse Deals near me</a>
</div>
